body{
    height: 100%;
    width: 100%;
}
.cor-header{
    background-color: #6699ff;
}
.fonts{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
.fonts2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#logo{
    height:100px;
    width: auto;
}
#fontsl{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-left: 30px;
    margin-top: 50px;
}