body{
    height: 100%;
    width: 100%;
}
.cor-header{
    background-color: #2c72ff;
    display: flex;
    justify-content: start;
}
.fonts{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
.fonts2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#logo{
    height:85px;
    width: auto;
}
#fontsl{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-top: 15px;
}
.cor-header2{
    display: flex;
    background-color: #6699ff;
    width: 30%;
}
.body-main{
    height: 829px;
    width: 75%;
}
.card-color{
    height:50px;
    width: 70px;
    background-color: black;
}
.res-img{
    height: 150px;
}